html {
  
  color: white;
  background: url('http://i.imgur.com/b9r5sEL.jpg') ;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', 'serif';
}

.Keys-flex-container{
	display: flex;
	flex: 1;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 230px; 
    
}

.nowrap{
	flex-wrap: nowrap;
}


.flex-item{

font-size: 20px;
list-style: none;
padding: 20px 0px;
width: 100px;
margin: 10px;
font-weight: bold;;
text-align: center;
 border: 1px solid white;
background:rgba(0,0,0,0.6);
border-radius: 4px;
transition: all 0.07 ease;
}

.flex-item .flex-SubItem{
font-size: 10px;
color: #ffd633;

}

.playing{
	transform: scale(1.1);
	 box-shadow:  0px 0px 50px yellow;
	 border-color: yellow; 
}
